.logo {
  display: block;
  margin: 350px auto;
  animation-name: logo;
  animation-duration: 2s;
  width: 150px;
}

@keyframes logo {
  0% {
    width: 0px;
  }
  100% {
    width: 150px;
  }
}

.inicio-logo {
  grid-area: page;
}
