.btn-siguiente {
  width: 90%;
  margin: 50px auto 24px;
  display: block;
  padding: 16px 24px;
  background: black;
  color: white;
  font-size: 16px;
  outline: none;
  font-weight: bold;
  border-radius: 25px;
  border: none;
}

.btn-siguiente {
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 20px; */
}
