.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: white;
  justify-content: space-around;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.footer svg {
  /* padding: 12px 24px; */
}

.footer svg path {
  stroke: black;
}

.icons {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  margin: 10px auto;
  border-radius: 15px;
}

.home {
  background: black;
  color: #85d1ce;
}

.home svg path {
  stroke: #85d1ce;
}

.home-txt {
  margin: 0 0 0 10px;
}

.txt-icon {
  /* margin: 0 0 0 10px; */
}
